.headerFont{
    font-family: "Lucida Bright", Georgia, serif;
}

.paraFont{
    font-family: 'Lucida Sans', Georgia, serif;
}

.headerColor{
    color: #D1CFBF;
}

.HeroHeaderText{
    background-color: #ffffff18;
}

.registationWrapper{
    background-color: #ffffffa5;
}
